dev/template/_emailContainer.jade
.email--container
  .email--container--header Het verstrekken van uw e-mailadres is optioneel en is alleen noodzakelijk indien u gecontacteerd wenst te worden
  .email--container-content
    .email--input-part
      label.email--input-label(for="email") Uw e-mail*
      input.email--input(type="email", id="email", name="email", placeholder="Uw e-mail*")
    .email--input-part
      label.email--input-label(for="email_check") E-mail bevestigen
      input.email--input(type="email", id="email_check", name="email_check", placeholder="E-mail bevestigen")
    .email--footer * Geef uw e-mailadres op. Dit adres wordt alléén gebruikt voor communicatie tussen eKomi en uzelf. Nadat de communicatie is afgesloten wordt uw adres automatisch verwijderd. Dank u wel!

app/template/_emailContainer.html

<div class="email--container">
  <div class="email--container--header">Het verstrekken van uw e-mailadres is optioneel en is alleen noodzakelijk indien u gecontacteerd wenst te worden</div>
  <div class="email--container-content">
    <div class="email--input-part">
      <label for="email" class="email--input-label">Uw e-mail*</label>
      <input type="email" id="email" name="email" placeholder="Uw e-mail*" class="email--input"/>
    </div>
    <div class="email--input-part">
      <label for="email_check" class="email--input-label">E-mail bevestigen</label>
      <input type="email" id="email_check" name="email_check" placeholder="E-mail bevestigen" class="email--input"/>
    </div>
    <div class="email--footer">* Geef uw e-mailadres op. Dit adres wordt alléén gebruikt voor communicatie tussen eKomi en uzelf. Nadat de communicatie is afgesloten wordt uw adres automatisch verwijderd. Dank u wel!</div>
  </div>
</div>
