dev/template/_footerContainer.jade
.footer
  .footer--container
    .footer--item
      a.footer--link(href="") HOMEPAGE
      span.divider |
      a.footer--link(href="") ALGEMENE VOORWAARDEN
      span.divider |
      a.footer--link(href="") PRIVACY
    .footer--item
      .footer--signature
        .signature--text powered by
        .signature--image
          img(src="img/Logo_ekomi.png", alt="Ekomi Logo")

app/template/_footerContainer.html

<div class="footer">
  <div class="footer--container">
    <div class="footer--item"><a href="" class="footer--link">HOMEPAGE</a><span class="divider">|</span><a href="" class="footer--link">ALGEMENE VOORWAARDEN</a><span class="divider">|</span><a href="" class="footer--link">PRIVACY</a></div>
    <div class="footer--item">
      <div class="footer--signature">
        <div class="signature--text">powered by</div>
        <div class="signature--image"><img src="img/Logo_ekomi.png" alt="Ekomi Logo"/></div>
      </div>
    </div>
  </div>
</div>
