app/template/_navigation.html

<div class="navigation--container">
  <ul class="navigation">
    <li class="navigation--item done">
      <div class="navigation--item-fill"></div>
      <div class="navigation--item--circle"><span>1</span></div>
      <div class="navigation--item--text">Beoordeling Pon Equipment</div>
    </li>
    <li class="navigation--item active">
      <div class="navigation--item-fill"></div>
      <div class="navigation--item--circle"><span>2</span></div>
      <div class="navigation--item--text">Bedankt</div>
    </li>
  </ul>
</div>

dev/template/_navigation.jade
.navigation--container
  ul.navigation
    li.navigation--item.done
      .navigation--item-fill
      .navigation--item--circle
        span 1
      .navigation--item--text Beoordeling Pon Equipment
    li.navigation--item.active
      .navigation--item-fill
      .navigation--item--circle
        span 2
      .navigation--item--text Bedankt
