app/template/_tyContainer.html

<div class="section">
  <div class="section--item full">
    <div class="section--item--header">Bedankt voor uw tijd!</div>
    <div class="section--item-help-text">
       
      Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. <br/><br/>eKomi - The Feedback Company
    </div>
  </div>
  <div class="section--item full">
    <div class="ty-image--container">
      <div class="ty--item"><a href="http://www.pon-cat.com/equipment/nl/services/onderhouds-contracten/emsolutions" target="_blank" class="ty--link"><img src="img/tyImage.png" alt="EMSolutions" class="ty--image"/></a></div>
    </div>
  </div>
</div>

dev/template/_tyContainer.jade
.section
  .section--item.full
    .section--item--header Bedankt voor uw tijd!
    .section--item-help-text 
      | Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. 
      br 
      br 
      | eKomi - The Feedback Company
  .section--item.full
    .ty-image--container
      .ty--item
        a.ty--link(href="http://www.pon-cat.com/equipment/nl/services/onderhouds-contracten/emsolutions", target="_blank")
          img.ty--image(src="img/tyImage.png", alt="EMSolutions")
