app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><?php echo str_replace('##SHOP_NAME##', html_sanitize($shop[0]['name']), $lang['PAGE_TITLE']); ?></title>
    <meta name="robots" content="NOINDEX,NOFOLLOW">
    <meta lang="de" name="keywords" xml:lang="de" content="feedback eKomi">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta lang="de" name="description" xml:lang="de" content="eKomi - The Feedback Company">
    <meta name="author" content="eKomi - The Feedback Company">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <link rel="author" href="http://www.ekomi.de/de/impressum" title="Imprint">
    <link rel="shortcut icon" type="image/x-icon" href="/images/ekomi.ico">
    <script type="text/javascript" src="/includes/flash/swfobject_cookie.js"></script>
    <link rel="stylesheet" href="css/min/app.css">
  </head>
  <body>
    <div class="header">
      <div class="header--container">
        <div class="header--logo"></div>
      </div>
    </div>
    <div class="container">
      <div class="navigation--container">
        <ul class="navigation">
          <li class="navigation--item done">
            <div class="navigation--item-fill"></div>
            <div class="navigation--item--circle"><span>1</span></div>
            <div class="navigation--item--text">Beoordeling Pon Equipment</div>
          </li>
          <li class="navigation--item active">
            <div class="navigation--item-fill"></div>
            <div class="navigation--item--circle"><span>2</span></div>
            <div class="navigation--item--text">Bedankt</div>
          </li>
        </ul>
      </div>
      <!-- include _shopReview.jade-->
      <!-- include _productReview.jade-->
      <div class="section">
        <div class="section--item full">
          <div class="section--item--header">Bedankt voor uw tijd!</div>
          <div class="section--item-help-text">
             
            Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. <br><br>eKomi - The Feedback Company
          </div>
        </div>
        <div class="section--item full">
          <div class="ty-image--container">
            <div class="ty--item"><a href="http://www.pon-cat.com/equipment/nl/services/onderhouds-contracten/emsolutions" target="_blank" class="ty--link"><img src="img/tyImage.png" alt="EMSolutions" class="ty--image"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer--container">
        <div class="footer--item"><a href="" class="footer--link">HOMEPAGE</a><span class="divider">|</span><a href="" class="footer--link">ALGEMENE VOORWAARDEN</a><span class="divider">|</span><a href="" class="footer--link">PRIVACY</a></div>
        <div class="footer--item">
          <div class="footer--signature">
            <div class="signature--text">powered by</div>
            <div class="signature--image"><img src="img/Logo_ekomi.png" alt="Ekomi Logo"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="preloader"><img src="img/starFull.png" alt="img/starFull.png"><img src="img/check.svg" alt="img/check.svg"></div>
  </body>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/app.js"></script>
</html>

dev/index.jade
doctype html
html(lang='en')
  head
    title <?php echo str_replace('##SHOP_NAME##', html_sanitize($shop[0]['name']), $lang['PAGE_TITLE']); ?>
    include template/_meta.jade
    link(rel='stylesheet', href='css/min/app.css')
  body
    .header
      .header--container
        .header--logo
    .container
      include template/_navigation.jade
      // include _shopReview.jade
      // include _productReview.jade
      include template/_tyContainer.jade
    include template/_footerContainer.jade
    .preloader
      img(src="img/starFull.png", alt="img/starFull.png")
      img(src="img/check.svg", alt="img/check.svg")
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='js/app.js')
